<h1 class="main">Welcome to the Numenera Cyper Generator</h1>
<div class="row">
  <div class="col-sm-6 col-lg-4">
    <div class="form-group">
      <label for="cypher-quantity">Please enter the number of cyphers:</label>
      <input id="cypher-quantity" name="cypher-quantity" class="form-control" type="text" ng-model="quantity" placeholder="Enter a number, or dice roll like 2d6 + 4"> 
    </div>
    <button class="btn btn-default" ng-click="rollCyphers()">Roll Those Cyphers</button>
  </div>
</div>